<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/piprog2/myApp/public/css/account.css">
    </head>
    <body>
        
    

</html>

<div class="form">
    <div class="username">
      <input type="text" placeholder="USERNAME"/>
    </div>
    <div class="password">
      <input type="text" placeholder="PASSWORD"/>
    </div>
    <div class="login">
      <span>log in</span>
    </div>

  </div>

</body>