<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresá</h2>
			</div>

	<h2 class="col-12"> 

		<div class="wrapper fadeInDown">
			<% if (locals.errors) { %>
				<p style="color: red"><%= locals.errors.message %> </p>
			   <% } %>
			<div id="formContent"> 
			  <!-- Login Form -->
			  <form class="form-register" action="/users/login" method="POST">
				  <br>
				<input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Usuario">
				<input type="password" id="password" class="fadeIn third" name="contrasenia" placeholder="Contraseña">

				<div class="input-container ic1 checkbox">
					<input placeholder="Recordarme" id="remember" class="fadeIn third" type="checkbox" name="remember_token" /> 
				</div>
				
				<div id="formFooter">
					<button type="text" class="underlineHover">Ingresá</button>
				  </div>
			  
			  </form>
		  
			  <!-- Remind Passowrd -->
			 
			</div>
		  </div>
		</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>