<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresá</h2>
			</div>

	<h2 class="col-12"> 

		<div class="wrapper fadeInDown">
			<div id="formContent"> 
			  <!-- Login Form -->
			  <form class="form-register" action="" method="get">
				  <br>
				<input type="email" id="login" class="fadeIn second" name="login" placeholder="Usuario">
				<input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
				<input type="checkbox" id="password" class="fadeIn third" name="login" placeholder="Recordarme">
			  </form>
		  
			  <!-- Remind Passowrd -->
			  <div id="formFooter">
				<a class="underlineHover" href="/users/profile">Ingresá</a>
			  </div>
		  
			</div>
		  </div>
		</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>