<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="wrapper fadeInDown">
					<div id="formContent"> 
					  <!-- Login Form -->
					  <form class="form-register">
						  <br>
					
						
						<input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre">
						<input type="text" id="password" class="fadeIn third" name="login" placeholder="Descripcion">
						<input type="file" id="login" class="fadeIn second" name="login" placeholder="Imagen">
						<input type="date" id="password" class="fadeIn third" name="login" placeholder="Fecha de carga">
						
						
					  </form>
				  
					  <!-- Remind Passowrd -->
					  <div id="formFooter">
						<a class="underlineHover" href="/users/profile">Agregar</a>
					  </div>
				  
					</div>
				  </div>
				</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>