<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

				<div class="wrapper fadeInDown">
					<div id="formContent"> 
					  <!-- Login Form -->


					  <form class="form-register" action="/product/product-add" method="POST">
						  <br>
					
						
						<input type="text" id="add" class="fadeIn second" name="titulo" placeholder="Titulo">
						<input type="text" id="add" class="fadeIn third" name="descripcion" placeholder="Descripcion">
						<input type="text" id="add" class="fadeIn second" name="foto" placeholder="Introducir ruta absoluta de la foto">
						<input type="date" id="add" class="fadeIn third" name="created_at" placeholder="Fecha de carga">
						
						<div id="formFooter">
							<button type="text" class="underlineHover">submit</button>
						</div>
					  </form>
				  
					  <!-- Remind Passowrd -->
					

				  
					</div>
				  </div>
				</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>