<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

			<div class="wrapper fadeInDown">
				<div id="formContent"> 
				  <!-- Login Form -->
				  <form class="form-register" action="/users/register" method="POST">
					  <br>
				
					<input type="text" id="login" class="fadeIn second" name="nombre" placeholder="Nombre">
					<input type="text" id="login" class="fadeIn second" name="apellido" placeholder="Apellido">
					<input type="email" id="login" class="fadeIn second" name="email" placeholder="Email">
					<input type="text" id="login" class="fadeIn second" name="usuario" placeholder="Nombre de usuario">
					<input type="date" id="login" class="fadeIn third" name="fecha" placeholder="Fecha de nacimiento">
					<input type="file" id="login" class="fadeIn third" name="foto" placeholder="Foto de perfil">
					<input type="password" id="login" class="fadeIn third" name="contrasenia" placeholder="Contraseña">
					<input type="number" id="login" class="fadeIn third" name="dni" placeholder="Numero de documento">

					<div id="formFooter">
						<button type="text" class="underlineHover">submit</button>
					</div>

				  </form>
			  
				  <!-- Remind Passowrd -->
				  
			  
				</div>
			  </div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>