<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 

			<div class="wrapper fadeInDown">
				<div id="formContent"> 
				  <!-- Login Form -->
				  <form class="form-register">
					  <br>
				
					<input type="text" id="login" class="fadeIn second" name="login" placeholder="Nombre de usuario">
					<input type="email" id="login" class="fadeIn second" name="login" placeholder="Email">
					<input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
					<input type="number" id="password" class="fadeIn third" name="login" placeholder="Numero de documento">
					<input type="file" id="password" class="fadeIn third" name="login" placeholder="Foto de perfil">
					<input type="date" id="password" class="fadeIn third" name="login" placeholder="Fecha de nacimiento">
					
					
					
				  </form>
			  
				  <!-- Remind Passowrd -->
				  <div id="formFooter">
					<a class="underlineHover" href="/users/profile">Ingresá</a>
				  </div>
			  
				</div>
			  </div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>