<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%- include('./partials/headerDeslogueado')  %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>

			
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 
				
			<div class="wrapper fadeInDown">
				<% if (locals.errors) { %>
					<p style="color: red"><%= locals.errors.message %> </p>
				   <% } %>
				<div id="formContent"> 
				  <!-- Login Form -->
				  <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
					  <br>
				
					<input type="text" id="nombre" class="fadeIn second" name="nombre" placeholder="Nombre">
					<input type="text" id="apellido" class="fadeIn second" name="apellido" placeholder="Apellido">
					<input type="email" id="email" class="fadeIn second" name="email" placeholder="Email">
					<input type="text" id="usuario" class="fadeIn second" name="usuario" placeholder="Nombre de usuario">
					<input type="date" id="fecha" class="fadeIn third" name="fecha" placeholder="Fecha de nacimiento">
					<input type="file" id="foto" class="fadeIn third" name="foto" placeholder="Foto de usuario">
					<input type="password" id="contrasenia" class="fadeIn third" name="contrasenia" placeholder="Contraseña">
					<input type="number" id="dni" class="fadeIn third" name="dni" placeholder="Numero de documento">

					<div id="formFooter">
						<button type="submit" class="underlineHover">submit</button>
					</div>

				  </form>
			  
				  <!-- Remind Passowrd -->
				  
			  
				</div>
			  </div>
			</h2>


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>